body{
    font-family: 'Open Sans Condensed', sans-serif;
}

header,footer{
    text-align: center;
    width: 50%;
    margin:10% auto 2%;
}

header hr , section hr , footer hr{
    padding-left: 40%;
    padding-right: 40%;
    margin: -20px;
}

/*navigation*/
nav{
    text-align: center;
}

nav ul{
    margin-top: 0;


}

nav ul li{
    display: inline-block;
}
