.container1,{
    display:block;
    width: 70%;
    padding-left: 25em;

}

.container2,.container3,/*.container4,*/.container5{
display: block;
width: 55%;
padding-left: 25em;
}

.texte,.img1{
    width: 50%;
    float: left;
}
.container4{
    padding-right: 4em;

}
/*.img1{
    margin-left: 5em;
}*/
